<h1>My Pictures</h1>

<% current_user.pictures.each do |p| %>
    <div class="image-container col-md-6"
        style="background: url(<%= "/uploads/#{p.path}" %>)"
        onclick="redirect('<%= url_for [current_user, p] %>')">

    </div>
<% end %>
