<% provide(:title, 'My Pictures') %>

<h1>My Pictures</h1>

<% if !current_user.pictures.empty? %>
  <% current_user.pictures.each do |p| %>
      <%= render 'image_container', p: p %>
  <% end %>
<% else %>
  <div class="empty-message">
    <p>
      You don't have any pictures yet.
    </p>

    <p>
      You can upload some <%= link_to('here', pictures_new_path) %>
    </p>
  </div>
<% end %>
