// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-panel.fade-out {
   -webkit-animation: fade-out 1s;
}

@-webkit-keyframes fade-out {
  0% {
    -webkit-transform: scale(1);
    filter: none;
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1.4);
    opacity: 0;
    height: inherit;
    filter: grayscale(1) blur(3px);
    color: lightgray;
  }
}
